NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}

NEXTCLOUD_REDIS_HOST={{ nextcloud_redis_host }}

NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }}
NEXTCLOUD_TRUSTED_PROXIES={{ nextcloud_trusted_proxies }}

NEXTCLOUD_MYSQL_ROOT_PASSWORD={{ nextcloud_mysql_root_password }}
NEXTCLOUD_MYSQL_PASSWORD={{ nextcloud_mysql_password }}
NEXTCLOUD_MYSQL_DATABASE={{ nextcloud_mysql_database }}
NEXTCLOUD_MYSQL_USER={{ nextcloud_mysql_user }}
NEXTCLOUD_MYSQL_HOST={{ nextcloud_mysql_host }}
NEXTCLOUD_SQLITE_DATABASE={{ nextcloud_sqlite_database }}

NEXTCLOUD_VOLUME={{ nextcloud_volume }}
NEXTCLOUD_MARIADB_VOLUME={{ nextcloud_mariadb_volume }}
NEXTCLOUD_REDIS_VOLUME={{ nextcloud_redis_volume }}

NEXTCLOUD_IMAGE={{ nextcloud_image }}
NEXTCLOUD_MARIADB_IMAGE={{ nextcloud_mariadb_image }}
NEXTCLOUD_REDIS_IMAGE={{ nextcloud_redis_image }}
NEXTCLOUD_NGINX_IMAGE={{ nextcloud_nginx_image }}

NEXTCLOUD_HOST={{ nextcloud_host }}
NEXTCLOUD_EXPOSED={{ nextcloud_exposed }}
